.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100; }

.nav-banner-section{
    background-image: url(../Assets/Hero-bg.png);
    height: 500px;
    width: 1270px;
}
.nav-button-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 130px;
    padding-top: 40px;
}



nav ul li{
    list-style: none;
    font-size: 30px;
    font-weight: bolder;
    color:#4E47FF;
}
.btn{
    height: 38px;
    width: 90px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: chocolate;
}
.banner{
    height: 237px;width: 300px;
    margin: 117px 450px;
    font-size: 30px;
    

}
.bnr-titel{
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
}
.btn-2{
    text-align: center;
    margin-left: 100px;
    height: 38px;
        width: 90px;
        color: white;
        background-color: #4E47FF;
        border: none;
        border-radius: 5px;
    
}
.btn-2:hover{
background-color: darkgoldenrod;
}
/* action section style */
.action-section{
    margin-top: 150px;
    height: 328px;
    width: 1080px;
}
.action{
    display: flex;
    justify-content: space-between;
}
.action-1{
    padding-left: 100px;
    padding-top: 50px;
}
.action-2 img{
    margin-left: 250px;
    border-radius: 20px;
    
}
.action-btn{
    height: 30px;
    width: 180px;
    color: white;
        background-color: #4E47FF;
        border: none;
        border-radius: 5px;
}
.action-btn:hover{
    background-color: darkorange;
}
.action-description{
    color: #848383;
    
}
/* productive section */
.productive-section{
    background-color: #e4e4fe;
    height: 350px;
    width: 1040;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.productive-users{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 150px;
}
.productive{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    font-weight: 700;
}
.productive-titel{
    font-size: 45px;
    font-weight: 700;
    color: #4E47FF;
}
.productive-sub-titel{
    padding-bottom: 40px;
    color: #848383;
}
/* feedback section */

.users-feedback-section{
    height: 382px;
    width: 980px;
    margin-left: 150px;
    margin-top: 200px;
}
.feedback-section{
    display: flex;
    gap: 24px;
    justify-content: space-around;

    
}
.feedback-1{
    width: 250px;
    height: 250px;
   padding: 30px;
   box-shadow: 0px 6px 20px 0px;
   border-radius: 5px;
     
    
}
.our-user{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
.review{
    color: #757575;
}
.review-date{
    color: #B3B3B3;
}
/* get in touch section */
.get-in-touch-section{
    background-color: #f6f7f9;
    height: 502px;
    width: 1080px;
    margin: 100px 100px;
    border-radius: 5px;
}
.touch-section{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.inp-text{
    display: block;
    width: 410px;
    height: 37px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 50px;
    border: none;
    background-color: white;
}
.inp-email{
    display: block;
        width: 410px;
        height: 37px;
        padding-left: 10px;
        border-radius: 5px;
        margin: 50px;
        border: none;
        background-color: white;
}
textarea{
    display: block;
        width: 410px;
        height: 100px;
        padding-left: 10px;
        border-radius: 5px;
        margin: 50px;
        border: none;
        background-color: white;
}
.button{
    width: 410px;
    height: 34px;
    /* margin: 50px; */
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 8px;
    margin-bottom:200px ;
    margin-left: 60px;
    
}
.button:hover{
    background-color: rgb(240, 160, 133);
}
.frm-touch{
    margin: 40px
}
.wlc-touch{
    padding-top: 130px;
    padding-left: 80px;
    font-size: 35px;
}
/* footer  */
.footer-section{
   height: 300px; 
   width: 900px;
   margin-left: 140px;
}
.ftr-titel{
    text-align: center;
    font-size: 40px;
    color: #4E47FF;
}
.ftr-description{
    text-align: center;
    color: #757575;
    font-size: 30px;
}
.link{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
    
}
h5 a{
    text-decoration: none;
    color: #757575;
    
}
